{{ 'footer.css' | asset_url | stylesheet_tag }}

<div class="footer-wrapper">
    <div class="footer">
        <div class="footer-links">
            {% for link in linklists.main-menu.links %}
                <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
        </div>
         
        <div class="logo">
            logo
        </div> 

    </div>
</div> 