{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="header">
    <p>Discover the perfect gift for her | Place your order by 12/15 to qualify for refunds </p>
    <button>
        Close
    </button>
</div>