{{ 'nav-menu.css' | asset_url | stylesheet_tag }}

<div class='nav-menu-wrapper'>
    <div>
        <img class="nav-menu-logo" src="{{ 'cat.PNG' | asset_url }}" alt="logo" />
    </div>

    <div class="links-wrapper"> 
        <div class="links-section">
            <p>Necklaces</p>
            <p>Bracelets</p>
            <p>Earrings</p>
            <p>Rings</p>
        </div>
        <div class="links-section">
            <p>All Collections</p>
            <p>Popular</p>
            <p>Sale</p>
        </div>
        <div class="links-section">
            <p>About</p>
            <p>FAQ</p>
            <p>Contact</p>
        </div>
     
        <p>Search</p>
    </div>
</div>