{{ 'nav-menu.css' | asset_url | stylesheet_tag }}

<div class='nav-menu-wrapper'>
    <div class='nav-menu-logo'>
        <p>
            LOGO PLACEHOLDER
        </p>
    </div>

    <div class="links-wrapper">
        <div class="links-section">
            <p>placeholder</p>
            <p>placeholder</p>
            <p>placeholder</p>
        </div>
        <div class="links-section">
            <p>placeholder</p>
            <p>placeholder</p>
            <p>placeholder</p>
        </div>
        <div class="links-section">
            <p>placeholder</p>
            <p>placeholder</p>
            <p>placeholder</p>
        </div>
    
        <p>search</p>
    </div>
</div>