.products-wrapper {
    margin: 20px 30px 60px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.product-card {
    width: 200px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    outline: 1px solid gainsboro;
    outline-offset: 5px;
}

.product-card-img {
    width: 100%;
    max-height: 200px;
}

.pc-img-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    row-gap: 8px;
    padding-bottom: 10px;
    height: 100%;

    text-align: center;
}

.pc-img-title a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-style: italic;
}

.pc-price-desc {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

@media screen and (max-width: 640px) {
    .products-wrapper {
        justify-content: center;
        gap: 65px;
    }

    .product-card {   
        justify-content: space-between;

        width: auto;
    }

    .product-card-img {
        width: 260px;
        height: auto;
        max-height: 400px;
    }
    
}