.nav-menu-wrapper {
    background-color: antiquewhite;
    width: 100%;
    min-height: 100%;
    padding-top: 20px;
}

.nav-menu-logo {
    width: 100px;
    height: 20px;
    background-color: cadetblue;

    position: fixed;
    left: 40px;
}

.links-wrapper {
    position: fixed;
    left: 40px;
    top: 65px;
}

.links-section {
    margin-bottom: 15px;
}