.nav-menu-wrapper {
    background-color: whitesmoke;
    width: 100%;
    min-height: 100%;
    padding-top: 20px;
}

.nav-menu-logo {
    width: 100px;
    height: auto;

    position: fixed;
    left: 40px;
}

.links-wrapper {
    position: fixed;
    left: 40px;
    top: 120px;
}
 
.links-section {
    margin-bottom: 15px;
}