{{ 'index.css' |  asset_url |  stylesheet_tag }}

<h2> this is my index page </h2>

<div class="products-wrapper">
    {% for product in collections['all-products'].products %}
        <div class="product-card">
            <div class="pc-img-title">
                <img src="{{ 'cat.PNG' | asset_img_url }}" alt="cat">
                {{- product.title | link_to: product.url }}
            </div>
            <div class="pc-price-desc">
                <p>placeholder</p>
                <p>placeholder</p>
            </div>
        </div>
    {% endfor %}
</div>
